@import './variables.scss';
@import './mixin.scss';
@import './sidebar.scss';


* {
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  overflow-y: auto;
}
body,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
input,
p,
blockquote,
th,
td {
  font-weight: 400;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h4,
h5 {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--background-color);
  color: var(--color);
  font-family: Helvetica, Arial, sans-serif;
  text-align: left;
  font-size: var(--font-size);
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
/* 整个滚动条 */
html::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* 滚动条上的滚动滑块 */
html::-webkit-scrollbar-thumb {
  background-color: #49b1f5;
  /* 关键代码 */
  background-image: -webkit-linear-gradient(45deg,
          rgba(255, 255, 255, 0.4) 25%,
          transparent 25%,
          transparent 50%,
          rgba(255, 255, 255, 0.4) 50%,
          rgba(255, 255, 255, 0.4) 75%,
          transparent 75%,
          transparent);
  border-radius: 32px;
}

/* 滚动条轨道 */
html::-webkit-scrollbar-track {
  background-color: #dbeffd;
  border-radius: 32px;
}
table {
  border-collapse: collapse;
}
fieldset,
img {
  border: 0 none;
}
fieldset {
  margin: 0;
  padding: 0;
}
fieldset p {
  margin: 0;
  padding: 0 0 0 8px;
}
legend {
  display: none;
}
address,
caption,
em,
strong,
th,
i {
  font-style: normal;
  font-weight: 400;
}
table caption {
  margin-left: -1px;
}
hr {
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #e4e4e4;
  border-width: 1px 0;
  clear: both;
  height: 2px;
  margin: 5px 0;
  overflow: hidden;
}
ol,
ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}
caption,
th {
  text-align: left;
}
