:root.light {
  --color: #333;
  --background-color: #fff;
  --font-size: 16px;
}

:root.dark {
  --color: #ffffff;
  --background-color: #333;
  --font-size: 16px;
}

.text-ellipsis-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
