/* 改变主题色变量 */
$color: rgba(2, 0, 0, 0.6);
$background-color: #000;
$fontSize: 16px;

.text-ellipsis-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
